server:
  error:
    include-message: always
    include-binding-errors: always
  port: 8081

spring:
  h2:
    console:
      enabled: true
  datasource:
    password: 1977
    url: jdbc:postgresql://localhost:5432/pantry
    username: hubbabubb
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: email.service.pantry@gmail.com
    password: Pantry123

    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          ssl:
            trust: "smtp.gmail.com"
            protocols: TLSv1.2
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
        debug: true

ingredients:
    list:
      location: "data/ingredient_list.csv"

jwt:
  signing:
    key:
      secret: mySecret
  get:
    token:
      uri: /authenticate
  refresh:
    token:
      uri: /refresh
  http:
    request:
      header: Authorization
  token:
    expiration:
      in:
        seconds: 604800