.card_container {
  display: flex;
    flex-direction: column;
  /*grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));*/
    max-width: 80%;
    padding: 10%;
  justify-content: center;
}

.card {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 20px gray;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    transition: transform 200ms ease-in;
}

.card_image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card_title {
    padding: 1rem;
    text-align: center;
}

.card_description {
    padding: 0 1rem;
}

.btn_container {
}

.card_btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid;
    background: transparent;
    color: gray;
    border-radius: 3px;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.creation_paragraph {
    text-align: center;
}

.card:hover {
    transform: scale(1.02);
}

.card:hover .card_btn {
    background: rgb(18, 172, 4);
    color: white;
}

.ingredient {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
}

.ingredient span {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    --field-padding: 12px;
}