.logo {
    padding: 50px;
}

.pantry {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 10s ease-in-out alternate;
    animation-iteration-count: infinite;
    stroke: black;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.top {
    animation-delay: 5s;
}

.middle {
    animation-delay: 4s;
}

.bottom {
    animation-delay: 1s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}