/*HEADER_COLOR: #E4F1EB */
/*BCKGRND_START: #E4F1EB */
/*BCKGRND_END: #F2F8F5 */
/*HIGHTLIGHT: #FFBF1F */
/*BUTTON_GREEN: #60A985 */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oswald&display=swap');



body {
    background-color: #E4F1EB;
    font-family: "Amatic SC", serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amatic SC", serif;
    color: #171616;
}

p, li, ul {
    font-family: "Oswald", serif;
    font-size: 16px;
    color: #171616;
}


.form {
    margin: 5px;
    font-family: Oswald, serif;
    color: #fffaf6;
}

.form p {
    color: #fffaf6;
}

.form a {
    color: aquamarine;
}

.logo {
    display: flex;
}

.center-button {
    display: flex;
    justify-content: center;
}


.grocery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px #fbc1bb solid;
    font-family: "Oswald", serif;
    font-size: 16px;
    color: #171616;
}

.grocery-list {
    width: 80%;
    max-width: 450px;
    margin: 2%;
    height: min-content;
    align-items: center;
    border-radius: 5px;
    padding: 20px 20px 30px;
    /*box-shadow: 10px 10px 26px 0 rgba(0, 0, 0, 0.35);*/
    border: 2px solid #131313;
}

.grocery-list-container {
    display: flex;
    flex-direction: column;
    align-items:center
}

.MuiTypography-body2 {
    font-family: Oswald, serif !important;
    font-size: 18px !important;
}

.cart {
    margin: 30px;
}