/*HEADER_COLOR: #E4F1EB */
/*BCKGRND_START: #E4F1EB */
/*BCKGRND_END: #F2F8F5 */
/*HIGHTLIGHT: #FFBF1F */
/*BUTTON_GREEN: #60A985 */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oswald&display=swap');

.main {
    background-image: linear-gradient(#E4F1EB, #F2F8F5);
    padding: 150px 20px 0 20px;
    height: 100vh;
    position: page;
}

body {
    background-color: #E4F1EB;
    font-family: "Amatic SC", serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amatic SC", serif;
    color: #171616;
}

p, li, ul {
    font-family: "Oswald", serif;
    font-size: 16px;
    color: #171616;
}


.form {
    margin: 5px;
    font-family: Oswald, serif;
    color: #fffaf6;
}

.form p {
    color: #fffaf6;
}

.form a {
    color: aquamarine;
}

/* ------HEADER------- */
.decoration-line-left {
    border-bottom: 2px solid #343a40;
    padding-bottom: 15px;
    position: fixed;
    width: 37%;
    top: 25px;
    left: 30px;
}

.decoration-line-left:after {
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 10px;
    width: 10px;
    background: #343a40;
    content: "";
    border-radius: 5px;
}

.decoration-line-right {
    border-bottom: 2px solid #343a40;
    padding-bottom: 15px;
    position: fixed;
    width: 37%;
    top: 25px;
    right: 30px;
}

.decoration-line-right:after {
    position: absolute;
    bottom: -6px;
    right: 0;
    height: 10px;
    width: 10px;
    background: #343a40;
    content: "";
    border-radius: 5px;
}

/* Navbar container */
.header-navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(228, 241, 235, 0.8);
}

/* Links inside the navbar */
.header-navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.header-dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.header-dropdown .header-button {
    font-family: "Amatic SC", serif;
    color: #343a40;
    font-size: 34px;
    text-decoration: none;
    text-align: center;
    padding: 0 20px 10px 20px;
    transition: background-color 0.1s, color 0.1s;
    border-radius: 25px 0 25px 0;
    border: none;
    outline: none;
    background-color: inherit;
    margin: 40px 0 0 0; /* Important for vertical align on mobile phones */
}
.header-dropdown .header-button:hover {
    background-color: #343a40;
    color: #fffaf6;
}

/* Add a red background color to navbar links on hover */
.header-navbar a:hover, .dropdown:hover .header-button {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    font-family: "Oswald", serif;
    min-width: 150px;
    display: none;
    position: absolute;
    background-color: #343a40;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #fffaf6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.header-dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    display: flex;
}

.icon {
    float: left;
    padding: 0 20px;
    border: none;
    font-size: 50px;
    background-color: transparent;
    display: none;
}

@media screen and (max-width: 768px) {
    .header-dropdown .header-button, .decoration-line-right, .decoration-line-left {display: none;}
    .icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .header-navbar.responsive {position: relative;}
    .header-navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .header-navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.center-button {
    display: flex;
    justify-content: center;
}


.grocery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px #fbc1bb solid;
    font-family: "Oswald", serif;
    font-size: 16px;
    color: #171616;
}

.grocery-list {
    width: 80%;
    max-width: 450px;
    margin: 2%;
    height: min-content;
    align-items: center;
    border-radius: 5px;
    padding: 20px 20px 30px;
    /*box-shadow: 10px 10px 26px 0 rgba(0, 0, 0, 0.35);*/
    border: 2px solid #131313;
}

.grocery-list-container {
    display: flex;
    flex-direction: column;
    align-items:center
}

.MuiTypography-body2 {
    font-family: Oswald, serif !important;
    font-size: 18px !important;
}

.cart {
    margin: 30px;
}